
#box{
    
    width: 300px;
    height: 320px;
    background: #9acd32;
    padding: 50px;
    box-sizing: border-box;
    webkit-box-sizing: border-box;
    moz-box-sizing: border-box;

    /* border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px; */
}