
    /* Clear the default formatation */     
    * {
        margin: 0;
        padding: 0;
    }
    /* Styles */
    body{
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background:papayawhip;

    }
    .greenColor{
        color: forestgreen;
        
    }
    .blackColor{
        color:black;
    } 

    /* Logo */
    #navigation{
        background: white;
        border-bottom: 1px solid #d8d8d8;
        height: 50px;
        margin-bottom: 30px;
        /* position: fixed; */
        /* width: 100%; */

    }
    #logo{
        float: left;
    }
    #menu{
        float:right;
        padding: 10px;

    }

    #area{
        width: 720px;
        margin: 0 auto;
    }

    /* Links Config*/
        a{
            text-decoration: none;
            padding: 5px 10px;
        }
        /* Not visited links */
        a:link{
            color:black;
        }
        /* Visited links */
        a:visited{
            color: black;;
        }
        /* Hover Links */
        a:hover{
            /* color: springgreen; */
            background: forestgreen;
            color:white;
        }
        /* Active Links */
        a:active{
            color:blue;
        }
    /* End of Links  Config*/
    /* Box Config */
    #newsBox{
        /* border: 1px solid red; */
        background: white;
        height: auto;
    }

    #mainArea{
        margin: 20px auto 10px auto;
        width: 720px;

    }

    .postDate{
        font-size: 16px;
        border-bottom: 1px solid #f4f4f4;
        display: block; /*Change the element to block type*/
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    /* End of Box Config */

    .postImg{
        float: left;
        margin: 10px 10px 5px 10px;
     
    }

    .postedBy{
        border-left: 5px solid gray;
        padding-left: 5px;
        margin-left: 5px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    
    h2{
        color: forestgreen;
    }

    #title{
        text-align: center;

    }